:root {
    --cor-fundo: rgb(226, 114, 185);
    --cor-letra: rgb(242, 218, 233);
}

*::-webkit-scrollbar {
    width: 10px;
}
*::-webkit-scrollbar-thumb {
    background-color: var(--cor-letra);
    border-radius: 10px;
}
*::-webkit-scrollbar-track {
    background-color: transparent;
}

body {
    background-color: var(--cor-fundo);
    color: var(--cor-letra);
    margin: 0;
    padding: 0;
}

.personagem {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding: 30px;
    gap: 40px;
}

#characterStory {
    flex: 1;
    min-width: 500px;
    max-width: 100%;
    border: 1px solid var(--cor-letra);
    background: var(--cor-fundo);
    overflow-y: auto;
    overflow-x: hidden;
    padding: 15px;
}

#characterStory h2 {
    margin-bottom: 10px;
    font-size: 2rem;
    text-alingn: center;
}

#characterStory p {
    font-size: 1rem;
    line-height: 1.5;
    text-align: justify;
}
.ilustracao img, .thumb { 
    max-width:50%; 
    height:auto; 
    display:block; }

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    gap: 15px;
}

.gallery {
    border: 1px solid var(--cor-letra);
    background: var(--cor-fundo);
    width: 150px;
    overflow: hidden;
    transition: transform 0.3s;
}

.gallery img {
    width: 100%;
    height: auto;
    cursor: pointer;
    display: block;
}

.gallery:hover {
    transform: scale(1.05);
}  div.gallery {
      margin: 5px;
      border: 1px solid var(--cor-letra);
      background: var(--cor-fundo);
      width: 200px;
  }
        
  div.gallery img {
      width: 200px;
      height: auto;
      cursor: pointer;
      transition: border 0.3s, transform 0.3s;
  }

  .gallery img:hover {
    transform: scale(1.05);
}
