:root {
  --cor-fundo: rgb(226, 114, 185);
  --cor-letra: rgb(242, 218, 233);
}

body{
    background-color: var(--cor-fundo);

}

div.flex-container {
  display: flex;
  flex-wrap: wrap;
  padding:15px;
  border: none;
}

div.gallery {
    margin: 5px;
    border: 1px solid var(--cor-letra);
    background: var(--cor-fundo);
    width: 200px;
}
      
div.gallery img {
    width: 200px;
    height: auto;
}
